/* RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.main {
	height: 100vh;
	display: flex;
}

.left {
	background-image:
		linear-gradient(rgb(0 0 0/ 30%), rgb(0 0 0/ 30%)),
		url('./images/johannes-andersson-UCd78vfC8vU-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem 0;
	background-color: rgb(0 0 0/ 30%);
	margin-top: 15rem;
}

.title img {
	width: 5rem;
}

.title span {
	font-weight: 600;
	font-size: 3rem;
	color: white;
}

.image-sources {
	text-align: center;
	color: white;
	justify-self: flex-end;
	padding: 1rem;
	font-size: 1.25rem;
}

.image-sources a {
	color: white;
	font-weight: 700;
}

.right {
	background-color: #f3f3f3;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

/* right header */
.right header {
	padding: 0 4rem;
}

.main-title,
.leading {
	font-size: 1.5rem;
	font-weight: 700;
}
.main-title {
	margin-bottom: 1rem;
}
.leading {
	margin-bottom: 2rem;
}

/* form */
.form header,
.form main,
.form footer {
	padding: 0 4rem;
}

.form header,
.form main {
	background-color: white;
}

/* form header */
.form header {
	padding: 2rem 4rem 1rem 4rem;
}

header h2 {
	font-size: 1.5rem;
}

/* form main */
.form main {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

/* form footer */

.form-row {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.form-row label {
	text-transform: uppercase;
}
